<div>
   <div ng-show="contact_information_message" class="alert alert-success">
         Contact Information Updated Successfully!
   </div>
   <form class="well form-horizontal" ng-submit="update_contact_information()">
      <legend>
         Contact Numbers
      </legend>
      <div class="control-group">
         <label class="control-label" for="telephone_number">Telephone #</label>
         <div class="controls">
            <input type="text" name="telephone_number" 
               ng-model="application.company.telephone_number" />
         </div>
      </div>
      <div class="control-group">
         <label class="control-label" for="fax_number">Fax #</label>
         <div class="controls">
            <input type="text" name="fax_number" 
               ng-model="application.company.fax_number"/>
         </div>
      </div>
      <div class="control-group">
         <label class="control-label" for="cable_number">Cable #</label>
         <div class="controls">
            <input type="text" name="cable_number"
               ng-model="application.company.cable_number"/>
         </div>
      </div>
      <div class="control-group">
         <div class="controls">
            <button class="btn btn-primary"><i class="icon-ok"></i>Save</button>
         </div>
      </div>
   </form>
</div>
