<div>

   <div ng-show="successMessage" class="alert alert-success">
      Description saved!
   </div>

   <form class="well form-horizontal" ng-submit="save_description_of_goods()">
      <legend>
         Description of Goods
      </legend>
      <div class="control-group">
         <label class="control-label" for="description_of_goods">Description</label>
         <div class="controls">
            <textarea name="description_of_goods" rows="10" cols="50" 
               ng-model="application.description_of_goods" required/>
         </div>
      </div>
      <div class="control-group">
         <div class="controls">
            <button class="btn btn-primary"><i class="icon-ok"></i>Save</button>
         </div>
      </div>
   </form>

</div>
