<div>
   <div id="general_info_messages">
   </div>
<form class="well form-horizontal" ng-submit="update_general_information()">
   <fieldset>
      <legend>
         General Information
      </legend>
   <div class="control-group">
      <label class="control-label" for="name">Company Name</label>
      <div class="controls">
         <input type="text" name="name" ng-model="application.company.name" required />
      </div>
   </div>
   <div class="control-group">
      <label class="control-label" for="status">Status</label>
      <div class="controls">
         <select ng-model="application.status" ng-options="item for item in application_status" required></select>
      </div>
   </div>
   <div class="control-group">
      <label class="control-label" for="company-type">Company Type</label>
      <div class="controls">
         <select ng-model="application.company.company_type" ng-selected="application.company.company_type" 
            ng-options="item for item in company_types" required></select>
      </div>
   </div>
   <div class="control-group">
      <label class="control-label" for="registration_number">Registration Number</label>
      <div class="controls">
         <input type="text" name="registration_number" ng-model="application.company.registration_number" required/>
         <span class="alert alert-error" ng-show="registration_number_error">Kindly supply a numeric value!</span>
      </div>
   </div>
   <div class="control-group">
      <div class="controls">
         <button class="btn btn-primary"><i class="icon-ok"></i>Save</button>
      </div>
   </div>
   </fieldset>
</form>

</div>
