{% extends "templates/application/master.jinja2" %}

{% block master_title %}
CFZ | Create new Application
{% endblock %}

{% block master_head %}
    <link rel="stylesheet" type="text/css" media="screen" 
      href="{{request.application_url}}/static/css/jquery-ui-1.8.21.custom.css" />
    <script type="text/javascript" 
      src="{{request.application_url}}/static/javascript/libs/jquery-ui-1.8.21.custom.min.js">
    </script>
    <script type="text/javascript" 
      src="{{request.application_url}}/static/javascript/app/submission_date_picker.js">
    </script>
{% endblock %}


{% block contents %}
      <form action="/applications/create" method="POST" class="well form-horizontal">
         <fieldset>
            <legend>Submit Application</legend>
            <div class="control-group">
               <label class="control-label" for="name">Name</label>
               <div class="controls">
                  <input type="text" name="name" required/>
               </div>
            </div>
            <div class="control-group">
               <label class="control-label" for="first_name">Manager First Name</label>
               <div class="controls">
                  <input type="text" name="first_name" required/>
               </div>
            </div>
            <div class="control-group">
               <label class="control-label" for="last_name">Manager Last Name</label>
               <div class="controls">
                  <input type="text" name="last_name" required />
               </div>
            </div>
            <div class="control-group">
               <label class="control-label" for="company_type">Company Type</label>
               <div class="controls">
                  <select name="company_type">
                     {% for company_type in company_types %}
                     <option value={{company_type}}>{{company_type}}</option>
                     {% endfor %}
                  </select>
               </div>
            </div>
            <div class="control-group">
               <label class="control-label" for="registration_number">Registration Number</label>
               <div class="controls">
                  <input type="number" name="registration_number" required/>
               </div>
            </div>
            <div class="control-group">
               <label class="control-label" for="submission_Date">Submission Date</label>
               <div class="controls">
                  <input type="text" id="submission_date" name="submission_date" required="true"/>
               </div>
            </div>
            <div class="control-group">
               <div class="controls">
                  <button class="btn btn-primary">Submit</button>
               </div>
            </div>
         </fieldset>
      </form>
{% endblock %}

