<!DOCTYPE html>
{% extends "templates/application/master.jinja2" %}

{% block master_title %}
CFZ | Denied Applications
{% endblock %}


{% block contents %}
      <div id="messages"> 
      </div>

      <div id="applications_table">
         <h1>Denied Applications</h1>
         <table class="table table-bordered table-striped">
            <thead>
               <tr>
                  <th>Id</th>
                  <th>Company</th>
                  <th>Company Type</th>
                  <th>Manager</th>
                  <th>Registration #</th>
                  <th>Date Denied</th>
                  <th/>
               </tr>
            </tead>
            <tbody>
               {% for application in applications %}
               <tr>
                  <td>{{application.id}}</td>
                  <td>{{application.company.name}}</td>
                  <td>{{application.company.company_type}}</td>
                  <td>{{application.manager.full_name}}</td>
                  <td>{{application.company.registration_number}}</td>
                  <td>{{application.denied_date}}</td>
                  <td>
                     <a href="/applications/show/{{application.id}}" rel="tooltip" title="View & Edit">
                        <i class="icon-eye-open"></i>
                     </a>
                  </td>
               </tr>
               {% endfor %}
            </tbody>
         </table>
      </div>

   </div>
{% endblock %}


