<div class="alert alert-error">
   <ul>
      {% if errors.telephone_number %}
         <li>{{errors.telephone_number}}</li>
      {% endif %}
      {% if errors.place_of_origin %}
         <li>{{errors.place_of_origin}}</li>
      {% endif %}
   </ul>
</div>
