{% extends "templates/application/master.jinja2" %}

{% block master_title %}
CFZ | New Applications
{% endblock %}


{% block contents %}
      <h1>New Applications</h1>
      <table class="table table-bordered table-striped">
         <thead>
            <tr>
               <th>Id</th>
               <th>Company</th>
               <th>Company Type</th>
               <th>Manager</th>
               <th>Registration #</th>
               <th>Submission Date</th>
               <th>Status</th>
               <th/>
            </tr>
         </tead>
         <tbody>
            {% for application in applications %}
            <tr>
               <td>{{application.id}}</td>
               <td>{{application.company.name}}</td>
               <td>{{application.company.company_type}}</td>
               <td>{{application.company.manager.name()}}</td>
               <td>{{application.company.registration_number}}</td>
               <td>{{application.get_submission_date()}}</td>
               <td>{{application.status}}</td>
               <td>
                  <a href="{{request.route_url('show_application',id=application.id)}}" rel="tooltip" title="View & Edit"><i class="icon-eye-open"></i></a>
               </td>
            </tr>
            {% endfor %}
         </tbody>
      </table>

{% endblock %}

