<!DOCTYPE html>

{% extends "templates/application/no_js_master.jinja2" %}

{% block master_title %}
CFZ | Pending Applications
{% endblock %}

{% block master_head%}
   <script type="text/javascript"  
      src="{{request.application_url}}/static/javascript/app/cfz_utils.js" >
   </script>
   <script type="text/javascript" 
      src="{{request.application_url}}/static/javascript/libs/jquery-ui-1.8.21.custom.min.js">
   </script>
   <script type="text/javascript" 
      src="{{request.application_url}}/static/javascript/libs/angular-1.0.1.js" >
   </script>
   <script type="text/javascript" 
      src="{{request.application_url}}/static/javascript/libs/angular-resource-1.0.1.min.js" >
   </script>
   <script type="text/javascript" 
      src="{{request.application_url}}/static/javascript/app/applications/pending_applications_module.js">
   </script>
   <script type="text/javascript" 
      src="{{request.application_url}}/static/javascript/libs/bootstrap-modal.js" >
   </script>
   <link rel="stylesheet" type="text/css" media="screen"
      href="{{request.application_url}}/static/css/jquery-ui-1.8.21.custom.css" />
   <script type="text/javascript" 
      src="{{request.application_url}}/static/javascript/libs/jquery-ui-1.8.21.custom.min.js">
   </script>
   <link rel="stylesheet" type="text/css" media="screen" 
      href="{{request.application_url}}/static/javascript/libs/angular-ui/angular-ui.min.css" />
   <script type="text/javascript" 
      src="{{request.application_url}}/static/javascript/libs/angular-ui/angular-ui.js">
   </script>

{% endblock %} 


{% block sidebar%}
   {% include "templates/application/sidebar.jinja2" %}
{% endblock %}

{% block contents %}

<h1>Pending Applications</h1>
<div id="content" ng-app="pending_applications_module" 
   ng-controller="PendingApplicationsController">

   <div ng-view>
   </div>

</div>

{% endblock %}
