<!DOCTYPE html>
{% extends "templates/application/master.jinja2" %}

{% block master_head %}
<script type="text/javascript" 
   src="{{request.application_url}}/static/javascript/app/shareholder_validators.js">
</script>
<script type="text/javascript" 
   src="{{request.application_url}}/static/javascript/app/applications/edit.js">
</script>
<script type="text/javascript" 
   src="{{request.application_url}}/static/javascript/app/applications/investor.js">
</script>
<script type="text/javascript" 
   src="{{request.application_url}}/static/javascript/app/applications/description_of_goods.js">
</script>
{% endblock %}

{% block master_title %}
Welcome to TurboGears 2.2, standing on the shoulders of giants, since 2007
{% endblock %}


{% block contents %}
<div ng-app="application" ng-controller="ApplicationMainController">

      <div id="edit-pane" >
      <h1>Application Information</h1>

      <ul class="nav nav-pills" id="tabs" > 
         <li class="active" id="general-li">
            <a ng-click="setRoute('general')">General Information</a>
         </li>
         <li id="contact-li">
            <a ng-click="setRoute('contact-information')">Contact Information</a>
         </li>
         <li id="address-li">
            <a ng-click="setRoute('address')">Address</a>
         </li>
         <li id="consultant-li">
            <a ng-click="setRoute('consultant')">Consultant</a>
         </li>
         <li id="manager-li">
            <a ng-click="setRoute('manager')">Manager</a>
         </li>
         <li id="investors-li">
            <a ng-click="setRoute('investors')">Investors</a>
         </li>
         <li id="description-of-goods-li">
            <a ng-click="setRoute('description_of_goods')">Description of Goods</a>
         </li>
      </ul>
      </div> <!-- /#edit-pane -->

      <div ng-view >
      </div>


</div>

{% endblock %}

