<!DOCTYPE html>
<li class="nav-header">Sidebar</li>
<li {% if sidebar == 'create_application' %} class="active" {% endif %}>
   <a href="{{ request.route_url('new_application_form') }}">
      Create Application
   </a>
</li>
<li {% if sidebar == 'new_applications' %} class="active" {% endif %}>
   <a href="{{ request.route_url('applications') }}">
      List New Applications
   </a>
</li>
<li {% if sidebar == 'pending_applications' %} class="active" {% endif %}>
   <a href="{{ request.route_url('pending_applications') }}">
      Pending Applications
   </a>
</li>
<li {% if sidebar == 'denied_applications' %} class="active" {% endif %}>
   <a href="{{ request.route_url('denied_applications_list') }}">
      Denied Applications
   </a>
</li>

