<form class="form-horizontal">
   <div class="control-group">
      <label class="control-label" for="date_sent_letter_of_acceptance">
         Date Letter Sent
      </label>
      <div class="controls">
         <div class="input-append">
            <input class="span10" type="text" id="acceptance-date-letter" size="16">
               <span class="add-on"><i class="icon-calendar"></i></span>
            </input>
         </div>
      </div>
      <div class="control-group">
         <div class="controls">
            <button class="btn btn-primary" id="save-acceptance-date-btn">
               <i class="icon-ok"></i>
               Save
            </button>
         </div>
      </div>
   </div>
</form>

