<form class="well form-horizontal">
   <fieldset>
      <legend>Address</legend>
      <div class="control-group">
         <label class="control-label" for="plaza">Plaza</label>
         <div class="controls">
            <input type="text" id="plaza" name="plaza" required value = "{{ line1 }}" ></input>
         </div>   `
      </div>
      <div class="control-group">
         <label class="control-label" for="locale">
            Locale
         </label>
         <div class="controls">
            <input type="text" name="locale" id="locale" required value = "{{ line2 }}" ></input>
         </div>
      </div>
      <div class="control-group">
         <div class="controls">
            <button class="btn btn-primary" id="save-address-btn">
               <i class="icon-ok"></i>
               Save
            </button>
             <button class="btn btn-danger" id="address-return-btn">
               <i class="icon-signout"></i>
               Cancel
            </button>
         </div>
      </div>
   </fieldset>
</form>

