<table class="display table table-striped table-bordered">
   <thead>
      <tr role="row">
         <th role="columnheader">Id</th>
         <th role="First Name">First Name</th>
         <th role="Last Name">Last Name</th>
         <th role="Representation Type">Representation Type</th>
         <th/>
      </tr>
   </thead>
   <tbody></tbody>
</table>

