<form class="well form-horizontal">
   <fieldset>
      <legend>Authorized Person</legend>
      <div class="control-group">
         <label class="control-label" for="first_name">First Name</label>
         <div class="controls">
            <input type="text" name="first_name" id="first-name"
               value = "{{ first_name }}" >
            </input>
            <span class="alert alert-error" 
               id="first-name-alert">
               Please provide a valid value!
            </span>
         </div>
      </div>
      <div class="control-group">
         <label class="control-label" for="last_name">Last Name</label>
         <div class="controls">
            <input type="text" name="last_name" id="last-name"
               value="{{ last_name}}">
            </input>
            <span class="alert alert-error" id="last-name-alert">
               Please provide a valid value!
            </span>
         </div>
      </div>
      <div class="control-group">
         <label class="control-label" for="representation_type">Representation Type</label>
         <div class="controls">
            <select name="representation_type" id="representation-type">
            </select>
         </div>
      </div>
      <div class="control-group">
         <div class="controls">
            <button class="btn btn-primary" id="save-authorizedperson-btn">
               <i class="icon-ok"></i>
               Save
            </button>
            <button class="btn btn-danger" id="cancel-authorizedperson-btn">
               <i class="icon-signout"></i>
               Cancel
            </button>
         </div>
      </div>
   </fieldset>
</form>

