<div class="well span6">
      <legend><h1>{{ name }}</h1></legend>
      <p>Registration Number: {{ registration_number }}</p>
      <p>Incorporation Date: {{ pretty_incorporation_date }}</p>
      <p>Telephone Number: {{ telephone_number }}</p>
      <p>Date Created: {{ created_date }}</p>
      <div id="acceptance-date">
      </div>
      <div id="date-acceptance-letter-form">
      </div>
      <div>
         <p>Status: <a href="#" id="status" data-type="select" data-original-title="Status"></a></p>
      </div>
</div>
<div class="span6" id="authorized-persons-region">
</div>
<div class="span6" id="opcontracts-region">
</div>

