   <li id="generalInfo-tab-item">
      <a id="generalInfo-tab" href="#">General Info</a>
   </li>
   <li id="contactNumbers-tab-item">
      <a id="contactNumbers-tab" href="#">Contact Info</a>
   </li>
   <li id="address-tab-item">
      <a id="address-tab" href="#">Address</a>
   </li>
   <li id="director-tab-item">
      <a id="director-tab" href="#">Directors</a>
   </li>
   <li id="shareholders-tab-item">
      <a id="shareholders-tab" href="#">Shareholders</a>
   </l>
   <li id="goods-categories-tab-item">
      <a id="goods-categories-tab" href="#">Goods</a>
   </l>
   <li id="annualreports-tab-item">
      <a id="annualreports-tab" href="#">Annual Reports</a>
   </li>
   <li id="courtesy-pass-tab-item">
      <a id="courtesy-pass-tab" href="#">Courtesy Stickers</a>
   </li>
   <li id="stickers-tab-item">
      <a id="stickers-tab" href="#">Vehicle Stickers</a>
   </li>
   <li id="outlets-tab-item">
      <a id="outlets-tab" href="#">Outlets</a>
   </li>

