<form class="well form-horizontal">
   <fieldset>
      <legend>
         Contact Numbers
      </legend>
      <div class="control-group">
         <label class="control-label" for="telephone_number">
            Telephone #
         </label>
         <div class="controls">
            <input type="text" name="telephone_number" id="telephone_number"
               required value = {{ telephone_number }} >
            </input>
         </div>
      </div>
      <div class="control-group">
         <label class="control-label" for="fax_number">
            Fax #
         </label>
         <div class="controls">
            <input type="text" name="fax_number" id="fax_number"
               value = {{ fax_number }}  >
            </input>
         </div>
      </div>
      <div class="control-group">
         <label class="control-label" for="cell_number">
            Cell #
         </label>
         <div class="controls">
            <input type="text" name="cell_number" id="cell_number"
               value = {{ cell_number }} >
            </input>
         </div>
      </div>
      <div class="control-group">
         <div class="controls">
            <button class="btn btn-primary" id="save-contact-numbers-btn">
               <i class="icon-ok"></i>
               Save
            </button>
             <button class="btn btn-danger" id="contact-numbers-return-btn">
               <i class="icon-signout"></i>
               Cancel
            </button>
         </div>
      </div>
   </fieldset>
</form> 

