<div id="goods-form-region">
   <form class="form-inline">
      <label>Select Type of Goods</label>
         <span id="goods-select-region">
         </span>
      <button id="goods-categories-btn" type="submit" class="btn">Add</button>
   </form>
</div>
<div id="goods-list-region">
</div>
