<table class="display table table-striped table-bordered" aria-describedby="list-of-outlets">
   <thead>
      <tr role="row">
         <th role="columnheader">Id</th>
         <th role="Name">First Name</th>
         <th role="Status">Status</th>
         <th role="Start Date">Start Date</th>
         <th/>
      </tr>
   </thead>
   <tbody></tbody>
</table>
