<form class="well form-horizontal">
   <fieldset>
      <legend>Create New Outlet</legend>
      <div class="control-group">
         <label class="control-label" for="name">Outlet Name</label>
         <div class="controls">
            <input type="text" name="name" id="outlet-name" value = "{{ name }}" required >
            </input>
            <span class="alert alert-error" id="outlet-name-alert">
               Please provide a valid value!
            </span>
         </div>
      </div>
      <div class="control-group">
         <label class="control-label" for="outlet-status">Outlet Status
         </label>
         <div class="controls">
            <select id="outlet-status">
               <option value="Active">Active</option>
               <option value="Inactive">Inactive</option>
            </select>
         </div>
      </div>
         <div class="control-group">
            <label class="control-label" for="outlet-start-date">
               Start Date
            </label>
            <div class="controls">
               <input type="text" id="outlet-start-date" 
                  name="outlet-start-date" value = "{{ start_date }}" >
               </input>
               <span class="alert alert-error" id="outlet-start-date-alert">
                  Please provide a valid value!
               </span>
            </div>
         </div>

         <fieldset>
            <legend>Manager</legend>
            <div class="control-group">
               <label class="control-label" for="outlet-first-name">First Name</label>
               <div class="controls">
                  <input type="text" id="outlet-first-name"
                     name="outlet-first-name" value = "{{ first_name }}" required >
                  </input>
                  <span class="alert alert-error" id="outlet-first-name-alert">
                     Please provide a valid value!
                  </span>
               </div>
            </div>
            <div class="control-group">
               <label class="control-label" for="outlet-last-name">Last Name</label>
               <div class="controls">
                  <input type="text" id="outlet-last-name"
                     name="outlet-last-name" value = "{{ last_name }}" required>
                  </input>
                  <span class="alert alert-error" id="outlet-last-name-alert">
                     Please provide a valid value!
                  </span>
               </div>
            </div>
         </fieldset>

         <fieldset>
            <legend>Contact Numbers</legend>
            <div class="control-group">
               <label class="control-label" for="outlet-telephone">Telephone #</label>
               <div class="controls">
                  <input type="text" id="outlet-telephone"
                     name="outlet-telephone" value = "{{ telephone_number }}" required>
                  </input>
                  <span class="alert alert-error" id="outlet-telephone-alert">
                     Please provide a valid value!
                  </span>
               </div>
            </div>
            <div class="control-group">
               <label class="control-label" for="outlet-fax">Fax #</label>
               <div class="controls">
                  <input type="text" id="outlet-fax"
                     name="outlet-fax" value = "{{ fax_number }}" >
                  </input>
               </div>
            </div>
         </fieldset>

         <fieldset>
            <legend>Address</legend>
            <div class="control-group">
               <label class="control-label" for="outlet-plaza">Plaza</label>
               <div class="controls">
                  <input type="text" id="outlet-plaza"
                     name="outlet-plaza" value = "{{ line1 }}" required>
                  </input>
                  <span class="alert alert-error" id="outlet-plaza-alert">
                     Please provide a valid value!
                  </span>
               </div>
            </div>
            <div class="control-group">
               <label class="control-label" for="outlet-locale">Locale</label>
               <div class="controls">
                  <input type="text" id="outlet-locale"
                     name="outlet-locale" value = "{{ line2 }}" required>
                  </input>
                  <span class="alert alert-error" id="outlet-locale-alert">
                     Please provide a valid value!
                  </span>
               </div>
            </div>
         </fieldset>

         <div class="control-group">
            <div class="controls">
               <button class="btn btn-primary" id="save-outlet-btn">
                  <i class="icon-ok"></i>
                  Save
               </button>
               <button class="btn btn-danger" id="cancel-outlet-btn">
                  <i class="icon-singout"></i>
                  Cancel
               </button>
            </div>
         </div>

   </fieldset>
</form>
