<div class="span6">
   <div class="button-action">
      <button  class="btn btn-small btn-af" 
         id="add-outlet-btn">
         <span>
            <i class="icon-small icon-list-alt"></i>
         </span>
         Add Outlet
      </button>
   </div>
</div>

