<form class="well form-inline">
   <span>
   <label>
      Max # of Vehicles
   </label>
   <input type="text" id="max-vehicles" value= "{{ max_vehicles }}">
   </input>
   <span id="vehiclepass-spinner">
   </span>
   <button type="submit" id="save-max-passes-btn" class="btn">Save</button>
   </span>
</form>

