<!DOCTYPE html>
<div>
<h2>Shareholders</h2>


<div id="message">
</div>

<p ng-show="add_shareholder_button">
<a href="" ng-click="shareholder_form()">
   <i class="icon-plus"></i>
   Shareholder
</a>
</p>

<div class="well" ng-show="show_shareholder_form">
   <a href="" class="close" ng-click="close_shareholder_form()">x</a>
   <form class="form-horizontal" ng-submit="save_shareholder()">
      <fieldset>
         <legend>Shareholder</legend>

         <div ng-show="!validate_shareholder_names()" class="alert alert-block alert-error">
            <h4>Error!</h4>
            There is already a shareholder with this name!
         </div>
         <div class="control-group">
            <label class="control-label" for="shareholder_first_name">
               First Name
            </label>
            <div class="controls">
               <input type="text" name="shareholder_first_name" ng-model="shareholder.first_name"
                  ng-change="validate_shareholder_names()" required />
            </div>
         </div>
         <div class="control-group">
            <label class="control-label" for="shareholder_last_name">
               Last Name
            </label>
            <div class="controls">
               <input type="text" name="shareholder_last_name" ng-model="shareholder.last_name" 
                  ng-change="validate_shareholder_names()" required>
            </div>
         </div>
         <div class="control-group">
            <label class="control-label" for="shares">
               Number of Shares
            </label>
            <div class="controls">
               <input type="number" name="shares" ng-model="shareholder.shares" required>
               &nbsp;<span class="alert alert-error" ng-hide="validate_shares(shareholder)">Kindly provide a value greater than 0.
               </span>
            </div>
         </div>
         <div class="control-group">
            <div class="controls">
               <button class="btn btn-primary" ng-disabled="!validate_shareholder_names() || !validate_shares(shareholder)">
                  <i class="icon-ok"></i>
                  Save
               </button>
            </div>
         </div>
      </fieldset>
   </form>
</div>

<table class="table table-bordered table-striped">

   <thead>
      <tr>
         <th>Id</th>
         <th>First Name</th>
         <th>Last Name</th>
         <th>Shares Owned</th>
         <th>Background Check</th>
         <th/>
         <th/>
      </tr>
   </thead>
   <tbody>
      <tr ng-repeat="shareholder in shareholders">
         <td>{{shareholder.id}}</td>
         <td>{{shareholder.first_name}}</td>
         <td>{{shareholder.last_name}}</td>
         <td>{{shareholder.shares}}</td>
         <td>{{shareholder.background_check}}</td>
         <td>
            <button class="btn btn-success" ng-click="edit_shareholder(shareholder)">
               <i class="icon-edit"></i>
               &nbsp;Edit
            </button>
         </td>
         <td>
            <button class="btn btn-danger">
               <i class="icon-remove"></i>
               &nbsp;Delete
            </button>
         </td>
      </tr>
   </tbody>

</table>

</div>
