<!DOCTYPE html>
<div id="manager_message">
</div>

<form class="well well-large form-horizontal" ng-submit="update_manager()">
   <fieldset>
      <legend>
         Manager
      </legend>

      <div class="control-group">
         <label class="control-label" for="manager_first_name">
            First Name
         </label>
         <div class="controls">
            <input type="text" name="manager_first_name" 
               ng-model="company.manager_first_name" required>
         </div>
      </div>
      <div class="control-group">
         <label class="control-label" for="manager_last_name">
            Last Name
         </label>
         <div class="controls">
            <input type="text" name="manager_last_name" 
               ng-model="company.manager_last_name" required>
         </div>
      </div>
      <div class="control-group">
         <div class="controls">
            <button class="btn btn-primary">
               <i class="icon-ok"></i>
               Save
            </button>
         </div>
      </div>

   </fieldset>
</form>
