<!DOCTYPE html>

{% extends "templates/kuta/master_with_left_sidebar.jinja2" %}

{% block master_title %}
CFZ | Companies
{% endblock %}

{% block master_head %}
{% endblock %}

{% block header %}
    {% include "templates/kuta/header.jinja2" %}
{% endblock %}

{% block section_header %}
   {% include "templates/kuta/access_letters/form_header.jinja2" %}
{% endblock %}

{% block main_content %}

<div id="user-form">
   <div id="message">
      {%for message in request.session.pop_flash() %}
         {{message | safe}}
      {% endfor %}
   </div>
   <form class="form-horizontal" method="POST" action="{{ action }}" >
      <input type="hidden" value="{{access_letter.id }}" name="id" />
      <fieldset>
         <legend>{{ access_letter_name }}</legend>
         <div class="control-group">
            <label class="control-label" for="granted_to">Name</label>
            <div class="controls">
              <input type="text" id="granted_to" 
              placeholder="Name" name="granted_to" value="{{ access_letter.granted_to }}">
               </input> 
            </div>
         </div>

         <div class="control-group">
            <label class="control-label" for="license_plate">Vehicle License Plate</label>
            <div class="controls">
               <input type="text" id="license_plate" placeholder="Vehicle License Plate" 
                  name="vehicle_license_plate" value="{{ access_letter.vehicle_license_plate }}">
               </input>
            </div>
         </div>

         <div class="control-group">
            <label class="control-label" for="expiration_date">Expiration Date</label>
            <div class="controls">
               <input type="text" id="expiration_date" placeholder="Expiration Date" 
                  name="expiration_date" value="{{access_letter.expiration_date}}">
            </input>
            </div>
         </div>

         <div class="control-group">
            <label class="control-label" >Processing Fee</label>
            <div class="controls radio">
               <label class="radio inline">
                  <input type="radio" id="paid_fee" name="processing_fee" value="PAID"
                     {%- if access_letter.processing_fee == "PAID" %}
                        checked
                     {% endif %}>
                     Paid
                  </input>
               </label>
               <label class="radio inline">
                  <input type="radio" id="waived_fee" name="processing_fee" value="WAIVED"
                     {%- if access_letter.processing_fee == "WAIVED" %}
                        checked
                     {% endif %}>
                     Waived
                  </input>
               </label>
            </div>
         </div>

         <div class="control-group">
            <label class="control-label" >Authorized By</label>
            <div class="controls radio">
               <label class="radio inline">
                  <input type="radio" id="ceo" name="authorized_by" value="CEO"
                     {%- if access_letter.authorized_by == "CEO" %}
                        checked
                     {% endif %}>
                     CEO
                  </input>
               </label>
               <label class="radio inline">
                  <input type="radio" id="chairman" name="authorized_by" value="CHAIRMAN"
                     {%- if access_letter.authorized_by == "CHAIRMAN" %}
                        checked
                     {% endif %}>
                     CHAIRMAN
                  </input>
               </label>
            </div>
         </div>

      </fieldset>

      <div class="control-group">
         <div class="controls">
            <a href="{{request.route_url('access_letter_main')}}" class="btn btn-danger">Cancel</a>
            <button type="submit" name="submit" class="btn btn-primary">Save</button>
         </div>
      </div>

  </form>
</div>

{% endblock %}

{% block sidebar %}
   {% include "templates/kuta/sidebar.jinja2" %}
{% endblock %}

{% block sidebar_menu_title %}
   {% include "templates/kuta/access_letters/sidebar_menu_title.jinja2" %}
{% endblock %}

{% block sidebar_menu_items %}
   {% include "templates/kuta/access_letters/sidebar_menu_items.jinja2" %}
{% endblock %}

{% block javascript_modules %}
   <script type="text/javascript">
      $(function(){
         $('#expiration_date').datepicker({
                  showWeek: true,
                  firstDay: 1,
                  changeMonth: true,
                  changeYear: true,
                  showOtherMonths: true,
                  dateFormat: "dd/M/yy",
                  startDate: "{{access_letter.expiration_date}}" });
      });
   </script>
{% endblock %}

