<!DOCTYPE html>

{% extends "templates/kuta/master_with_left_sidebar.jinja2" %}

{% block master_title %}
CFZ | Companies
{% endblock %}

{% block master_head %}
{% endblock %}

{% block header %}
    {% include "templates/kuta/header.jinja2" %}
{% endblock %}

{% block section_header %}
   {% include "templates/kuta/access_letters/form_header.jinja2" %}
{% endblock %}

{% block main_content %}

<div >
   {%for message in request.session.pop_flash() %}
         {{message | safe}}
   {% endfor %}
</div>


<div id="total-users" class="row-fluid">
   <a href="{{request.route_url('access_letter_new', letter_type=letter_type)}}" class="btn btn-info pull-right">Create Access Letter</a>
   <label><strong>Total Letters: </strong> {{ total }}</label>
   <br/>
</div>

<div id="user-list" class="row-fluid">
   <table class="table table-striped table-bordered table-condensed">
      <thead>
         <th>Date Created</th>
         <th>Granted to</th>
         <th>License Plate</th>
         <th>Expires On</th>
         <th/>
      </thead>
      <tbody>
         {% for letter in access_letters %}
            <tr>
               <td>{{ letter.date_processed }}</td>
               <td>{{ letter.granted_to }}</td>
               <td>{{ letter.vehicle_license_plate }}</td>
               <td>{{ letter.pretty_expiration_date }}</td>
               <td><a href="{{request.route_url('access_letter_show', id=letter.id)}}" class="btn btn-primary">View</a></td>
            </tr>
         {% endfor %}
      </tbody>
   </table>
</div>


{% endblock %}


{% block sidebar %}
   {% include "templates/kuta/sidebar.jinja2" %}
{% endblock %}

{% block sidebar_menu_title %}
   {% include "templates/kuta/access_letters/sidebar_menu_title.jinja2" %}
{% endblock %}

{% block sidebar_menu_items %}
   {% include "templates/kuta/access_letters/sidebar_menu_items.jinja2" %}
{% endblock %}

{% block javascript_modules %}
{% endblock %}


