<!DOCTYPE html>

{% extends "templates/kuta/master_with_left_sidebar.jinja2" %}

{% block master_title %}
CFZ | Companies
{% endblock %}

{% block master_head %}
{% endblock %}

{% block header %}
    {% include "templates/kuta/header.jinja2" %}
{% endblock %}

{% block section_header %}
   {% include "templates/kuta/access_letters/form_header.jinja2" %}
{% endblock %}

{% block main_content %}


{% endblock %}

{% block sidebar %}
   {% include "templates/kuta/sidebar.jinja2" %}
{% endblock %}

{% block sidebar_menu_title %}
   {% include "templates/kuta/access_letters/sidebar_menu_title.jinja2" %}
{% endblock %}

{% block sidebar_menu_items %}
   {% include "templates/kuta/access_letters/sidebar_menu_items.jinja2" %}
{% endblock %}

{% block javascript_modules %}
{% endblock %}
