<!DOCTYPE html>
<li {% if access_letter_selection == 'courtesy' %} class="active" {% endif %}>
<a href="{{request.route_url('access_letter_list', letter_type='courtesy')}}">
  <i class="icon-large icon-th-large"></i>
    Courtesy Letters 
</a>
</li>
<li {% if access_letter_selection == 'temporary_workers' %} class="active" {% endif %}>
<a href="{{request.route_url('access_letter_list', letter_type='temporary_workers')}}">
  <i class="icon-large icon-th-large"></i>
    Temporary Workers Letters 
</a>
</li>
<li {% if access_letter_selection == 'external_services' %} class="active" {% endif %}>
<a href="{{request.route_url('access_letter_list', letter_type='external_services')}}">
  <i class="icon-large icon-th-large"></i>
    External Services Letters 
</a>
</li>
<li {% if access_letter_selection == 'exit_letters' %} class="active" {% endif %}>
<a href="{{request.route_url('access_letter_list', letter_type='exit_letters')}}">
  <i class="icon-large icon-th-large"></i>
    Exit Letters 
</a>
</li>
<li {% if access_letter_selection == 'brokers' %} class="active" {% endif %}>
<a href="{{request.route_url('access_letter_list', letter_type='brokers')}}">
  <i class="icon-large icon-th-large"></i>
    Brokers
</a>
</li>
<li {% if access_letter_selection == 'peseros' %} class="active" {% endif %}>
<a href="{{request.route_url('access_letter_list', letter_type='peseros')}}">
  <i class="icon-large icon-th-large"></i>
    Peseros
</a>
</li>
<li {% if access_letter_selection == 'mobile_vendors' %} class="active" {% endif %}>
<a href="{{request.route_url('access_letter_list', letter_type='mobile_vendors')}}">
  <i class="icon-large icon-th-large"></i>
    Mobile Vendors
</a>
</li>
