<!DOCTYPE html>

{% extends "cfz_requirejs_master.jinja" %}

{% block master_title %}
CFZ | Vehicle Passes
{% endblock %}

{% block master_head %}
<link rel="stylesheet" type="text/css" media="screen"
   href="{{tg.url('/css/jquery-ui-1.8.21.custom.css')}}" />
{% endblock master_head %}

{% block main %}
   <div class="row-fluid">
      <div class="span3">
         <div class="well well-large sidebar-nav">
            <ul class="nav nav-list">
               {% include "company/sidebar_no_search.jinja" %}
            </ul>
         </div> <!-- /sidebar-nav -->
      </div> <!-- /span3  -->

      <div class='span9'> 
         <div id='content' class='span12'>
            <form class="form-horizontal">
               <fieldset>
                  <legend>Vehicle Pass</legend>
                  <div class="control-group">
                     <label class="control-label" for="company">
                        Company
                     </label>
                     <div class="controls">
                        <input type="text" name="company" />
                     </div>
                  </div>
                  <div class="control-groups">
                     <label class="control-label" for="owner">
                        Owner
                     </label>
                     <div class="controls">
                        <input type="text" name="owner" />
                     </div>
                  </div>
                  <div class="control-groups">
                     <label class="control-label" for="vehicle_year">
                        Vehicle Year
                     </label>
                     <div class="controls">
                        <input type="text" name="vehicle_year" />
                     </div>
                  </div>
                  <div class="control-groups">
                     <label class="control-label" for="vehicle_model">
                        Vehicle Model
                     </label>
                     <div class="controls">
                        <input type="text" name="vehicle_model" />
                     </div>
                  </div>
                  <div class="control-groups">
                     <label class="control-label" for="color">
                        Color
                     </label>
                     <div class="controls">
                        <input type="text" name="color" />
                     </div>
                  </div>
                  <div class="control-groups">
                     <label class="control-label" for="license_plate">
                        License Plate Number
                     </label>
                     <div class="controls">
                        <input type="text" name="license_plate" />
                     </div>
                  </div>
                  <div class="control-groups">
                     <label class="control-label" for="sticker_number">
                        Sticker Number
                     </label>
                     <div class="controls">
                        <input type="text" name="sticker_number" />
                     </div>
                  </div>
                  <div class="control-groups">
                     <label class="control-label" for="date_issued">
                        Date Issued
                     </label>
                     <div class="controls">
                        <input type="text" name="date_issued" />
                     </div>
                  </div>
                  <div class="control-groups">
                     <label class="control-label" for="month_expired">
                        Month Expired
                     </label>
                     <div class="controls">
                        <input type="text" name="month_expired" />
                     </div>
                  </div>
                  <div class="control-groups">
                     <label class="control-label" for="receipt_number">
                        Receipt Number
                     </label>
                     <div class="controls">
                        <input type="text" name="receipt_number" />
                     </div>
                  </div>
                  <div class="control-group">
                     <div class="controls">
                        <button class="btn btn-primary">
                           <i class="icon-ok"></i>
                           Save
                        </button>
                     </div>
                  </div>
               </fieldset>
            </form>
         </div> <!-- /content !-->
      </div> <!-- /span12 !-->

   </div> <!-- row-fluid -->
{% endblock main%} 

