<!DOCTYPE html>

{% extends "templates/kuta/master_with_left_sidebar.jinja2" %}

{% block master_title %}
CFZ | Companies
{% endblock %}

{% block master_head %}
{% endblock %}

{% block header %}
    {% include "templates/kuta/header.jinja2" %}
{% endblock %}

{% block section_header %}
   {% include "templates/kuta/company/section_header.jinja2" %}
{% endblock %}

{% block main_content %}

<div id="resultsMeta">
</div>

<div id="pagination">
</div>

<div id="resultsMetaTmpl">
</div>

<div id="company-basic-info">
</div>

{% endblock %}

{% block sidebar %}
   {% include "templates/kuta/sidebar.jinja2" %}
{% endblock %}

{% block sidebar_menu_title %}
   {% include "templates/kuta/company/sidebar_menu_title.jinja2" %}
{% endblock %}

{% block sidebar_menu_items %}
   {% include "templates/kuta/company/sidebar_menu_items.jinja2" %}
{% endblock %}

{% block javascript_modules %}
   {% assets "underscore", "jQuery", "handlebars", "backbone", "marionette", "company_list_templates", "company_list_app" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
   {% endassets %}
{% endblock %}

