<!DOCTYPE html>
<html>
<body>
<h1>FOURTH SCHEDULE </h1>
<h4>(Regulation 6(2))</h4>

<h2>AMENDMENT</h2>
<h4>OPERATIONS CONTRACT</h4>

 

<p>
We, <strong>Mr. {{opcontract.cfz_ceo}}</strong>, Chief Executive Officer of the Corozal Free Zone of Belize, And, <strong>{{opcontract.director}}</strong> Flores, Director of Flores & Sons Company Limited ** of the Corozal Free Zone of Belize, Belize-Mexico border have come together to formalize the following Operations Contract as required by section 6 (2) of the CFZ Regulations.
</p>

<h3>FIRST </h3>
<p>
Flores & Sons Company Limited ** will confine operations to the stated purpose of the operation of <strong>{{opcontract.company_types}},  {{opcontract.goods}} </strong> under the classification “CFZ business”, under Section 6 (2) of the CFZ Regulations.
To widen the scope of this activity Flores & Sons Company Limited ** is required to apply to the Chief Executive Officer of the Corozal Free Zone located at lot # 316 Freedom Avenue, for authorization.
</p>

<p>
<h3>SECOND</h3>
</p>
<p>
<strong>{{opcontract.company}}</strong> ** shall make annual payments to the office of the Chief Executive Officer of the Corozal Free Zone located at lot <strong>{{opcontract.cfz_office}}</strong> at the Corozal Free Zone of Belize for the use of the CFZ Regime, under Section 5 (3) of the CFZ Regulations.
</p>


<h3>THIRD</h3>
<p>
For the purpose of these payments, commercial, industrial and office space will be considered to be space dedicated to the factory, administrative offices, trading, show rooms, registered offices, banking, insurance, accounting, consultancies, or any other similar activity under the classification of a CFZ business.  All such payments will be made to the office of the CEO of the Corozal Free Zone.
</p>

<h3>FOURTH</h3>
<p> 
<strong>{{opcontract.company}}</strong> ** shall meet the mutually agreed cost of any reasonable Environmental Impact analysis that may be required by the CEO of the Corozal Free Zone.
</p>

<h3>FIFTH</h3>
<p>
<strong>{{opcontract.company}}</strong> **  is expected to present bi-annual progress reports on its activities to the CEO no later than 30 days following the six-month period.
</p>

<h3>SIXTH</h3>
<p>
<strong>{{opcontract.company}}</strong> ** will facilitate the CEO with two copies of documentation for financial and customs control, one of which shall be submitted to the Customs Authorities.  The Normal Period being on a monthly basis.
</p>

<h3>SEVENTH</h3>
<p>
<strong>{{opcontract.company}}</strong> ** shall carry a permanent inventory of all stored goods that will allow for periodic checks.  At the same time, a system shall be implemented to allow for efficient control over goods that enter, remain and leave the Company in question.
</p>

<h3>EIGHT</h3>
<p>
<strong>{{opcontract.company}}</strong> ** shall keep the CEO informed of changes and modifications that affect the original agreements reached with the office of the CEO such as reduction of the labour force, temporary interruptions of operations, expansion of industrial and office space, change of activities and change in management, administration and legal representation, and others.  All plans must be submitted for approval prior to construction and occupancy as indicated by the CEO office.  The standard shall be the American Building Code as adopted by the CFZ.
</p>

<h3>NINTH</h3>
<p> 
The CEO shall require a Bill of Lading or for airfreight, a copy of the invoice duly validated by the Belizean Consul or pertinent authority.  The invoice must be signed by the importer and validated by the office of the CEO of the CFZ where goods seek entry.  This must be accompanied by a CFZ Entry form. All internal transfers in the CFZ must be recorded as such with a copy of the transfer sent to the Office of the CEO before the transfer occurs.  No special permission is required for exportation.  All re-exportation of merchandise shall be done through the CFZ Exit form.  A copy of this re-exportation shall be sent to the Office of the CEO of the CFZ before the re-exportation occurs.  Intransit goods which have had or have not had valued added through repackaging, re-mixing, re-labeling, processing, manufacturing or any like activity must have both Entry and Exit forms submitted simultaneously for identical merchandise or the manipulated merchandise. The merchandise need not be physically present.  The value of duty charged on goods entering national Customs territory will be based on the original entry value only and not on the final product value.  All merchandise leaving the CFZ must have its specific destination identified on the Exit form.  All merchandise entering national Customs territory must have all documentation for importing into Belize completed.  All entry forms, transfer forms and Exit forms will carry a six dollars U.S. (${{opcontract.processing_fee}}) processing fee to be paid to the office of the CEO of the CFZ.  The CEO of the CFZ may periodically request reports that it considers timely from a Company's management or Department to verify compliance of obligations or to establish control mechanisms to carry out its financial checks. Flores & Sons Company Limited ** shall comply with any regulations made by the CEO for imports into and exports from the CFZ, subject to the provisions of the Act.

</p>

<h3>TENTH</h3>
<p>
<strong>{{opcontract.company}}</strong>** shall provide any information solicited by the CEO at any time.  Failure to provide such information will result in the suspension of further processes required by the Company.
</p>

<h3>ELEVENTH</h3>
<p>
Should the Company decide to request a revocation of the CFZ regime, it should communicate this to the CEO of the CFZ at least one month in advance.
</p>

<h3>TWELFTH</h3>
<p> 
Should the Company discontinue operations for more than one year it will be deemed to have abandoned the CFZ Regime, thereby, authorizing the CEO of the CFZ to proceed with the revocation of the Certificate of Compliance.
</p>

<h3>THIRTEENTH</h3>
<p>
<strong>{{opcontract.company}}</strong> ** shall comply with all obligations under the CFZ Act, the Regulations, and this Operations Contract.
</p>

<p>
Having read this document, and as an indication of our conformity, we the undersigned affix our signatures and seal this {{opcontract.pretty_seal_date}}
</p>

 

 

 

<p> 

____________________________

</p>
<p>
<strong>Mr. {{opcontract.cfz_ceo}}</strong>
</p>
<p>
Chief Executive Officer
</p>
<p>
Corozal Free Zone
</p>
 

 
<p>
____________________________
</p>
<p>
Representative of the CFZ Firm
</p>
<p>
Company Seal and Date: {{opcontract.pretty_seal_date}}.
</p>

 
 </body>

</html>
