<!DOCTYPE html>

{% extends "templates/kuta/master_with_left_sidebar.jinja2" %}

{% block master_title %}
CFZ | Companies
{% endblock %}

{% block master_head %}
   <link rel="stylesheet" type="text/css" media="screen" 
      href="{{request.application_url}}/static/css/bootstrap-editable.css" />
{% endblock %}

{% block header %}
    {% include "templates/kuta/header.jinja2" %}
{% endblock %}

{% block section_header %}
   {% include "templates/kuta/company/company_header.jinja2" %}
{% endblock %}

{% block main_content %}

   <span id="company-navbar">
   </span>
   <div class="tab-content" id="tab-content" style="height: 100%">
   </div>
   <div id="spinner" style="position:fixed;top: 50%; left: 50%;width: 100%">
   </div>

{% endblock %}

{% block sidebar %}
   {% include "templates/kuta/sidebar.jinja2" %}
{% endblock %}

{% block sidebar_menu_title %}
   {% include "templates/kuta/company/sidebar_menu_title.jinja2" %}
{% endblock %}

{% block sidebar_menu_items %}
   {% include "templates/kuta/company/sidebar_menu_items.jinja2" %}
{% endblock %}

{% block javascript_modules %}
   {% assets "underscore", "handlebars", "momentjs", "backbone", "marionette", "company_show_templates", "_company_app", "bootstrap_plugins",  "spinjs", "editable_plugin" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
   {% endassets %}
   <script>
      $(function(){
         Company.start();
         $.fn.editable.defaults.mode = 'inline';
      });
   </script>
{% endblock %}

