<!DOCTYPE html>
<div class="container">
  <a class="brand hidden-phone" href="{{request.route_url('index')}}">
    <span>CFZ-Registry</span>
  </a>
  <ul class="nav">
    <li>
      <a href="#">
        <i class="icon-large icon-globe"></i>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="icon-large icon-envelope"></i>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="icon-large icon-cog"></i>
      </a>
    </li>
  </ul>
  <ul class="nav pull-right">
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="icon-large icon-user"></i>
      </a>
      <ul class="dropdown-menu dropdown-user-account">
        <li class="account-img-container"></li>
        <li class="account-info">
          <h3>Username</h3>
          <p>
            <a href="#">Edit</a>
          </p>
        </li>
        <li class="account-footer">
          <div class="row-fluid">
            <div class="span8">
              <a class="btn btn-small btn-primary btn-flat" href="#">Change avatar</a>
            </div>
            <div class="span4 align-right">
              <a class="btn btn-small btn-danger btn-flat" href="{{request.route_url('logout')}}">Logout</a>
            </div>
          </div>
        </li>
      </ul>
    </li>
  </ul>
</div>
