<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>{% block master_title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" media="screen" 
      href="{{request.application_url}}/static/kuta/assets/css/bootstrap.css" />
   <link rel="stylesheet" type="text/css" media="screen" 
      href="{{request.application_url}}/static/kuta/css/style.css" />
   <link rel="stylesheet" type="text/css" media="screen" 
      href="{{request.application_url}}/static/css/custom_style.css" />
    {% block master_head %}
    {% endblock %}
</head>
<body>
    <div id="maincontainer" class="left-sb-fluid">
      <div id="contentwrapper">
        <div id="contentcolumn">
            <div  class="blue navbar navbar-static nomargin">
              <div class="navbar-inner">
                {% block header %}
                {% endblock %}
              </div>
            </div>

            <div class="container-fluid">
              <div class="row-fluid wrapper">
                <div class="span9 contentcolumn">
                  <div class="row-fluid">
                    {% block main_content %}
                    {% endblock %}
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>

      <div id="leftcolumn">
        <div id="leftpanel">
          <div class="leftpanel-wrapper">
            <ul id="sidebar" class="nav nav-pills nav-stacked">
              {% block sidebar %}
              {% endblock %}
            </ul>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>

    </div>

   <script type="text/javascript" 
      src="{{request.application_url}}/static/javascript/libs/jquery.js">
   </script>
   <script type="text/javascript" 
      src="{{request.application_url}}/static/kuta/assets/js/bootstrap.js" >
   </script>
   <script type="text/javascript" 
      src="{{request.application_url}}/static/javascript/highlight_nav.js">
   </script>

   {% block javascript_modules %}
   {% endblock %}
      
</body>
</html>
