<form class="well form-horizontal">
   <fieldset>
      <legend>Manager</legend>
      <div class="control-group">
         <label class="control-label" for="first_name">First Name</label>
         <div class="controls">
            <input type="text" name="first_name" id="first-name"
               value = {{{first_name }}} >
            </input>
            <span class="alert alert-error" id="first-name-alert">
               Please provide a value!
            </span>
         </div>
      </div>
      <div class="control-group">
         <label class="control-label" for="last_name">Last Name</label>
         <div class="controls">
            <input type="text" name="last_name" id="last-name" 
               value = {{{ last_name }}} >
            </input>
            <span class="alert alert-error" id="last-name-alert">
               Please provide a value!
            </span>
         </div>
      </div>
      <div class="control-group">
         <label class="control-label" for="phone1">Phone 1</label>
         <div class="controls">
            <input type="text" name="phone1" id="manager-phone1" 
               value = {{{ phone1 }}} >
            </input>
         </div>
      </div>
      <div class="control-group">
         <label class="control-label" for="phone2">Phone 2</label>
         <div class="controls">
            <input type="text" name="phone2" id="manager-phone2" 
               value = {{{ phone2 }}} >
            </input>
         </div>
      </div>

      <div class="control-group">
         <div class="controls">
            <button class="btn btn-primary" id="save-btn">
               <i class="icon-ok"></i>
               Save
            </button>
            <button class="btn btn-danger" id="return-btn">
              <i class="icon-signout"></i>
               Cancel
            </button>
         </div>
      </div>
   </fieldset>
</form>