<h4>Outlet Manager</h4>
<div id="alert-space">
</div>

<table class="display table table-striped table-bordered">
   <thead>
      <tr role="row">
         <th role="First Name">First Name</th>
         <th role="Last Name">Last Name</th>
         <th role="Phone 1">Phone 1</th>
         <th role="Phone 2">Phone 2</th>
         <th/>
      </tr>
   </thead>
   <tbody>
      <td>{{ first_name }}</td>
      <td>{{ last_name }}</td>
      <td>{{ phone1 }}</td>
      <td>{{ phone2 }}</td>
      <td>
         <button class="btn btn-primary" id="edit-btn" title="Edit Outlet Manager">
            Edit
         </button>
      </td>
   </tbody>
</table>

