<!DOCTYPE html>

{% extends "templates/kuta/master_with_left_sidebar.jinja2" %}

{% block master_title %}
CFZ | Companies
{% endblock %}

{% block master_head %}
{% endblock %}

{% block header %}
    {% include "templates/kuta/header.jinja2" %}
{% endblock %}

{% block section_header %}
   {% include "templates/kuta/admin/users/create_section_header.jinja2" %}
{% endblock %}

{% block main_content %}


<div id="user-form">
   <div id="message">
      {%for message in request.session.pop_flash() %}
         {{message | safe}}
      {% endfor %}
   </div>
   <form class="form-horizontal" method="POST" action="{{ action }}" >
      <fieldset>
         <legend>General Info</legend>
         <div class="control-group">
            <label class="control-label" for="username">Name</label>
            <div class="controls">
              <input type="text" id="username" 
              placeholder="Name" name="username" >
               </input> 
            </div>
         </div>

         <div class="control-group">
            <label class="control-label" for="email">Email</label>
            <div class="controls">
               <input type="text" id="email" placeholder="Email" name="email"></input>
            </div>
         </div>

         <div class="control-group">
            <label class="control-label" for="password">Password</label>
            <div class="controls">
               <input type="password" id="password" placeholder="Password" name="password"></input>
            </div>
         </div>
      </fieldset>

      <div class="row-fluid">
         <div class="span4">
            <div class="well">
               <div class="navbar navbar-heading">
                  <div class="navbar-inner">
                     <div class="container">
                        <a class="brand" href="#">Company Permissions</a>
                     </div>
                  </div>
               </div>
               <label class="checkbox inline">
                  <input type="checkbox" id="company-create" name="permissions" value="company:create">Create</input>
               </label>
               <label class="checkbox inline">
                  <input type="checkbox" id="company-view" name="permissions" value="company:view">View</input>
               </label>
            </div>
         </div>

         <div class="span4">
            <div class="well">
               <div class="navbar navbar-heading">
                  <div class="navbar-inner">
                     <div class="container">
                        <a class="brand" href="#">Company Contacts</a>
                     </div>
                  </div>
               </div>
               <label class="checkbox inline">
                  <input type="checkbox" id="company-contacts-view" name="permissions" value="company:contact:view">View</input>
               </label>
               <label class="checkbox inline">
                  <input type="checkbox" id="company-contacts-view" name="permissions" value="company:contact:edit">Edit</input>
               </label>
            </div>
         </div>

         <div class="span4">
            <div class="well">
               <div class="navbar navbar-heading">
                  <div class="navbar-inner">
                     <div class="container">
                        <a class="brand" href="#">Company Address</a>
                     </div>
                  </div>
               </div>
               <label class="checkbox inline">
                  <input type="checkbox" id="company-address-view" name="permissions" value="company:address:view">View</input>
               </label>
               <label class="checkbox inline">
                  <input type="checkbox" id="company-address-view" name="permissions" value="company:address:edit">Edit</input>
               </label>
            </div>
         </div>
      </div>



      <div class="row-fluid">
         <div class="span4">
            <div class="well">
               <div class="navbar navbar-heading">
                  <div class="navbar-inner">
                     <div class="container">
                        <a class="brand" href="#">Company Directors</a>
                     </div>
                  </div>
               </div>
               <label class="checkbox inline">
                  <input type="checkbox" id="company-directors-view" name="permissions" value="company:director:view">View</input>
               </label>
               <label class="checkbox inline">
                  <input type="checkbox" id="company-directors-view" name="permissions" value="company:director:edit">Edit</input>
               </label>
            </div>
         </div>

         <div class="span4">
            <div class="well">
               <div class="navbar navbar-heading">
                  <div class="navbar-inner">
                     <div class="container">
                        <a class="brand" href="#">Company Shareholders</a>
                     </div>
                  </div>
               </div>
               <label class="checkbox inline">
                  <input type="checkbox" id="company-shareholders-view" name="permissions" value="company:shareholder:create">Create</input>
               </label>
               <label class="checkbox inline">
                  <input type="checkbox" id="company-shareholders-view" name="permissions" value="company:shareholder:view">View</input>
               </label>
               <label class="checkbox inline">
                  <input type="checkbox" id="company-shareholders-view" name="permissions" value="company:shareholder:edit">Edit</input>
               </label>
            </div>
         </div>

         <div class="span4">
            <div class="well">
               <div class="navbar navbar-heading">
                  <div class="navbar-inner">
                     <div class="container">
                        <a class="brand" href="#">Company Goods</a>
                     </div>
                  </div>
               </div>
               <label class="checkbox inline">
                  <input type="checkbox" id="company-goods-view" name="permissions" value="company:goods:create">Create</input>
               </label>
               <label class="checkbox inline">
                  <input type="checkbox" id="company-goods-view" name="permissions" value="company:goods:view">View</input>
               </label>
               <label class="checkbox inline">
                  <input type="checkbox" id="company-goods-view" name="permissions" value="company:goods:edit">Edit</input>
               </label>
            </div>
         </div>
      </div>

      <div class="row-fluid">
         <div class="span4">
            <div class="well">
               <div class="navbar navbar-heading">
                  <div class="navbar-inner">
                     <div class="container">
                        <a class="brand" href="#">Company Annual Reports</a>
                     </div>
                  </div>
               </div>
               <label class="checkbox inline">
                  <input type="checkbox" id="company-annualreport-view" name="permissions" value="company:annualreport:create">Create</input>
               </label>
               <label class="checkbox inline">
                  <input type="checkbox" id="company-annualreport-view" name="permissions" value="company:annualreport:view">View</input>
               </label>
            </div>
         </div>

         <div class="span4">
            <div class="well">
               <div class="navbar navbar-heading">
                  <div class="navbar-inner">
                     <div class="container">
                        <a class="brand" href="#">Company Vehicle Stickers</a>
                     </div>
                  </div>
               </div>
               <label class="checkbox inline">
                  <input type="checkbox" id="company-vehiclesticker-view" name="permissions" value="company:vehiclesticker:create">Create</input>
               </label>
               <label class="checkbox inline">
                  <input type="checkbox" id="company-vehiclesticker-view" name="permissions" value="company:vehiclesticker:view">View</input>
               </label>
               <label class="checkbox inline">
                  <input type="checkbox" id="company-vehiclesticker-edit" name="permissions" value="company:vehiclesticker:edit">Edit</input>
               </label>
            </div>
         </div>

         <div class="span4">
            <div class="well">
               <div class="navbar navbar-heading">
                  <div class="navbar-inner">
                     <div class="container">
                        <a class="brand" href="#">Company Courtesy Stickers</a>
                     </div>
                  </div>
               </div>
               <label class="checkbox inline">
                  <input type="checkbox" id="company-courtesysticker-view" name="permissions" value="company:courtesysticker:create">Create</input>
               </label>
               <label class="checkbox inline">
                  <input type="checkbox" id="company-courtesysticker-view" name="permissions" value="company:courtesysticker:view">View</input>
               </label>
               <label class="checkbox inline">
                  <input type="checkbox" id="company-courtesysticker-edit" name="permissions" value="company:courtesysticker:edit">Edit</input>
               </label>
            </div>
         </div>
      </div>

      <div class="row-fluid">
         <div class="span4">
            <div class="well">
               <div class="navbar navbar-heading">
                  <div class="navbar-inner">
                     <div class="container">
                        <a class="brand" href="#">Company Outlet</a>
                     </div>
                  </div>
               </div>
               <label class="checkbox inline">
                  <input type="checkbox" id="company-outlet-create" name="permissions" value="company:outlet:create">Create</input>
               </label>
            </div>
         </div>
      </div>

      <div class="control-group">
         <div class="controls">
            <a href="{{request.route_url('user_list')}}" class="btn btn-danger">Cancel</a>
            <button type="submit" name="submit" class="btn btn-primary">Save</button>
         </div>
      </div>

   </form>
</div>


{% endblock %}

{% block sidebar %}
   {% include "templates/kuta/sidebar.jinja2" %}
{% endblock %}

{% block sidebar_menu_title %}
   {% include "templates/kuta/admin/users/sidebar_menu_title.jinja2" %}
{% endblock %}

{% block sidebar_menu_items %}
   {% include "templates/kuta/admin/users/sidebar_menu_items.jinja2" %}
{% endblock %}

{% block javascript_modules %}
{% endblock %}


