<!DOCTYPE html>
<li {% if user_selection == 'create' %} class="active" {% endif %}>
<a href="{{request.route_url('user_new')}}">
  <i class="icon-large icon-th-large"></i>
    Create New User
</a>
</li>
<li {% if user_selection == 'list' %} class="active" {% endif %}>
<a href="{{request.route_url('user_list')}}">
  <i class="icon-large icon-th-large"></i>
    List All Users 
</a>
</li>

