<!DOCTYPE html>
<html>
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
      <title>
         {% block master_title %}
         {% endblock %} 
      </title>
      <link rel="stylesheet" type="text/css" media="screen" 
         href="{{request.application_url}}/static/css/bootstrap.min.css" />
      <link rel="stylesheet" type="text/css" media="screen" 
         href="{{request.application_url}}/static/css/bootstrap-responsive.min.css" />

      {% block master_head %}
      {% endblock %} 

   </head>
   <body>
      <!-- Navbar -->
      <div class="navbar">
          <div class="navbar-inner">
              <div class="container">
                 {% include "templates/top_nav.jinja2" %}
              </div>
           </div> <!-- /navbar-inner -->
      </div> <!-- /navbar -->

      <div class="container-fluid">

         {% block contents %}
         {% endblock contents %}


      </div> <!-- /container-fluid -->

   </body>
</html>

