<!DOCTYPE html>
{% extends "templates/cfz_requirejs_master.jinja2" %}

{% block master_title %}
CFZ | Vehicle Passes
{% endblock %}


{% block contents %}
   <div class="well well-large">
      <form class="form-horizontal" method="POST", action="/doLogin">
         <fieldset>
            <legend>
               <h1>Login</h1>
            </legend>
            <div id="message">
               {%for message in request.session.pop_flash() %}
                  {{message | safe}}
               {% endfor %}
            </div>
            <div class="control-group">
               <label class="control-label">Username</label>
               <div class="controls">
                  <input type="text" id='username' placeholder='Username' name='username' required></input>
               </div>
            </div>
            <div class="control-group">
               <label class="control-label">Password</label>
               <div class="controls">
                  <input type="password" id="password" placeholder='Password' name='password' required></input>
               </div>
            </div>
            <div class="control-group">
               <div class="controls">
                  <input type="submit" name="submit" class="btn" value='Sign In'></input>
               </div>
            </div>
         </fieldset>
      </form>
   </div>
{% endblock contents %}
