<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="shortcut icon" href="{{request.application_url}}/static/favicon.ico">
    {% block master_head %}
    {% endblock %}
    <title>{% block master_title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" media="screen" 
      href="{{request.application_url}}/static/css/bootstrap.min.css" />
      <link rel="stylesheet" type="text/css" media="screen" 
         href="{{request.application_url}}/static/css/bootstrap-responsive.min.css" />
      <link rel="stylesheet" type="text/css" media="screen" 
      href="{{request_application_url}}/static/css/style.css" />
</head>

<body>
    <div class="container">

        <!-- Navbar -->
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                   {% include "templates/top_nav.jinja2" %}
                </div>
             </div> <!-- /navbar-inner -->
        </div> <!-- /navbar -->

        {% block contents %}
        {% endblock %}


        <!-- End of main_content -->
    </div>
</body>
</html>
