<!DOCTYPE html>
 <a class="brand" href="#">
    <img src="{{request.application_url}}/static/images/turbogears_logo.png" alt="TurboGears 2"/>CFZ-Registry
 </a>
  <ul class="nav nav-pills">
     <li {% if page == 'index' %}class="active"{% endif %}>
         <a href="{{request.route_url('index')}}">Welcome
         </a>
     </li>
     <li {% if page == 'companies' %}class="active"{% endif %}>
         <a href="{{request.route_url('company_index')}}">Companies</a>
     </li>
  </ul>

   <ul class="nav nav-pills pull-right">
       {% if username %}
          <li>
            <a href="{{request.route_url('logout')}}">Logout</a>
          </li>
          <li>
            <a href="{{request.route_url('index')}}">Admin</a>
          </li>
       {% else %}
         <li>
            <a href="{{request.route_url('login')}}">Login</a>
          </li>
       {% endif %}
   </ul>

