<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
   <span class="icon-bar"></span>
   <span class="icon-bar"></span>
   <span class="icon-bar"></span>
</a>
<a class="brand" href="#">Where Can I Get?</a>
<div class="nav-collapse collapse">
   <ul class="nav">
      <li {% if active_navbar == 'home' %} class="active" {% endif %}>
         <a href="{{request.route_url('home')}}">Home</a>
      </li>
      <li>
         <a href="#">Stores</a>
      </li>
      <li {% if active_navbar == 'goods' %} class="active" {% endif %}>
         <a href="#">Goods</a>
      </li>
      <li {% if active_navbar == 'categories' %} class="active" {% endif %}>
         <a href="#">Categories</a>
      </li>
      <li {% if active_navbar == 'packages' %} class="active" {% endif %}>
         <a href="#">Packages</a>
      </li>
      <li {% if active_navbar == 'companies' %} class="active" {% endif %}>
      <a href="{{request.route_url('home')}}">Cities</a>
      </li>
      <li {% if active_navbar == 'packages' %} class="active" {% endif %}>
         <a href="#">Users</a>
      </li>
   </ul><!-- /nav -->
   <ul class="nav nav-pills pull-right">
      {% if request.session['username'] %}
         <li>
            <a href="{{request.route_url('home') }}">Logout</a>
         </li>
      {% else %}
      <li {% if active_navbar == 'login' %} class="active" {% endif %}>
            <a href="{{request.route_url('home') }}">Login</a>
         </li>
      {% endif %}
   </ul>
</div><!-- /nav-collapse -->
