<!DOCTYPE html>

<div class="row-fluid" id="header">
   <div class="span8">
      <h1>Vehicle Passes</h1> 
      <a href="/vehicle_pass/index#create">
         <i class="icon-plus"></i>
         New Pass
      </a>
   </div>
   <div class="span4">
   <!--
      <form class="form-search">
         <input type="text" placeholder="Search" 
            class="input-medium search-query" autocomplete="off"/>
      </form>
!-->
   </div>
</div>

<div id="vehiclepass-list">
<table class="table table-bordered table-striped">
   <thead>
      <tr>
         <th>Id</th>
         <th>Owner</th>
         <th>Company</th>
         <th>Date Issued</th>
         <th>Month Expired</th>
         <th>Vehicle Model</th>
         <th>License Plate</th>
         <th>Sticker #</th>
      </tr>
   </thead>
   <tbody>
      <% _.each(vehiclepasses, function(vehiclepass){%>
      <tr>
         <td><%= vehiclepass.get("id") %></td>
         <td><%= vehiclepass.get("owner") %></td>
         <td><%= vehiclepass.get("company") %></td>
         <td><%= vehiclepass.get("date_issued") %></td>
         <td><%= vehiclepass.get("month_expired") %></td>
         <td><%= vehiclepass.get("vehicle_model") %></td>
         <td><%= vehiclepass.get("license_plate") %></td>
         <td><%= vehiclepass.get("sticker_number") %></td>
      </tr>
      <% }); %>
   </tbody>
</table>
</div>
