<!DOCTYPE html>

{% extends "templates/kuta/master_with_left_sidebar.jinja2" %}

{% block master_title %}
CFZ | Company | Outlets
{% endblock %}

{% block master_head %}
{% endblock %}

{% block header %}
    {% include "templates/kuta/header.jinja2" %}
{% endblock %}

{% block section_header %}
   {% include "templates/kuta/company/company_header.jinja2" %}
{% endblock %}

{% block main_content %}

	<div id="content">
		Creating Outlet
	</div>

	<script id="create-tmpl" type="text/template">
		<form class="well form-horizontal">
			<fieldset>
				<legend>Create New Outlet</legend>
				<div class="control-group">
					<label class="control-label" for="name">Outlet Name</label>
					<div class="controls">
						<input type="text" name="name" id="outlet-name" required>
						</input>
						<span class="alert alert-error" id="outlet-name-error">
							Please provide a valid value!
						</span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="outlet-status">Outlet Status
					</label>
					<div class="controls">
						<select id="outlet-status">
							<option value="Active">Active</option>
							<option value="Inactive">Inactive</option>
						</select>
					</div>
				</div>
		         <div class="control-group">
		            <label class="control-label" for="start-date">
		               Start Date
		            </label>
		            <div class="controls">
		               <input type="text" id="start-date" 
		                  name="start-date" value = <%= start_date %> >
		               </input>
		               <span class="alert alert-error" id="start-date-alert">
		                  Please provide a valid value!
		               </span>
		            </div>
		         </div>

		         <div class="control-group">
		            <div class="controls">
		               <button class="btn btn-primary" id="save-outlet-btn">
		                  <i class="icon-ok"></i>
		                  Save
		               </button>
		               <button class="btn btn-danger" id="cancel-outlet-btn">
		                  <i class="icon-singout"></i>
		                  Cancel
		               </button>
		            </div>
		         </div>

			</fieldset>
		</form>
	</script>

{% endblock %}

{% block sidebar %}
   {% include "templates/kuta/sidebar.jinja2" %}
{% endblock %}

{% block sidebar_menu_title %}
   {% include "templates/kuta/company/sidebar_menu_title.jinja2" %}
{% endblock %}

{% block sidebar_menu_items %}
   {% include "templates/kuta/company/sidebar_menu_items.jinja2" %}
{% endblock %}

{% block javascript_modules %}
   {% assets "underscore", "backbone", "marionette", "outlet_builder" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
   {% endassets %}
{% endblock %}
