<!DOCTYPE html>

{% extends "templates/kuta/master_with_left_sidebar.jinja2" %}

{% block master_title %}
CFZ | Company | Outlets
{% endblock %}

{% block master_head %}
{% endblock %}

{% block header %}
    {% include "templates/kuta/header.jinja2" %}
   <link rel="stylesheet" type="text/css" media="screen" 
      href="{{request.application_url}}/static/css/bootstrap-editable.css" />
{% endblock %}

{% block section_header %}
   {% include "templates/kuta/outlet/outlet_header.jinja2" %}
{% endblock %}

{% block main_content %}

   <span id="outlet-navbar">
   </span>
   <div class="tab-content" id="tab-content">
   </div>

   <script id="outlet-nav-tmpl" type="text/template">
         <li id="generalInfo-tab-item">
            <a id="generalInfo-tab" href="#">General Information</a>
         </li>
         <li id="contactNumbers-tab-item">
            <a id="contactNumbers-tab" href="#">Contact Numbers</a>
         </li>
         <li id="address-tab-item">
            <a id="address-tab" href="#">Address</a>
         </li>
         <li id="manager-tab-item">
            <a id="manager-tab" href="#">Managers</a>
         </li>
   </script>

   <script id="general-information-tmpl" type="text/template">
      <div class="span12">
         <div>
         <h2>Outlet Name: <%= name %></h2>
         <h4>Company Name: <a href="<%= links.company_link %>"><%= company_name %></a></h4>
         <h4>Address: </h4>
            <h5><%= address %></h5>
         <h4>Contact Information</h4>
         <h5>Telephone #: <%= telephone_number %> </h5>
         <h5>Fax #: <%= fax_number %> </h5>
         <h4>Manager: <%= manager %></h4>
         </div>
         <h5>Status: 
         <a href="#" id="status" data-type="select" data-original-title="Status"></a>
         </h5>
      </div>
   </script>

{% endblock %}

{% block sidebar %}
   {% include "templates/kuta/sidebar.jinja2" %}
{% endblock %}

{% block sidebar_menu_title %}
   {% include "templates/kuta/company/sidebar_menu_title.jinja2" %}
{% endblock %}

{% block sidebar_menu_items %}
   {% include "templates/kuta/company/sidebar_menu_items.jinja2" %}
{% endblock %}

{% block javascript_modules %}
   {% assets "underscore", "handlebars", "backbone", "marionette", "outlet_templates", "outlet_app", "bootstrap_plugins", "momentjs", "editable_plugin" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
   {% endassets %}

   <script>
      $(function(){
         Outlet.start();
         $.fn.editable.defaults.mode = 'inline';
      });
   </script>

{% endblock %}
