.footer {
    margin-top: 45px;
    padding: 35px 0 36px;
    border-top: 1px solid #e5e5e5;
}

.footer p {
    margin-bottom: 0;
    color: #555;
}

.company{
	color: #1C6993;
	border-left: 1px solid;
	border-right: 1px solid;
	border-bottom: 1px solid;
	border-top: 1px solid;
	padding: 4px 14px;
	width: 80%;
}

.company-right-side-details{
	float: right;
	padding-right: 10;
	padding-left: 0;
}

resultsMeta{
	margin-bottom: 10;
}

ul.no-style{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
