<div class="blue navbar navbar-static nomargin">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="{{request.route_url('index')}}">
        <span>CFZ-Registry</span>
      </a>
    </div>
  </div>
</div>
<div class="menusb well">
  <div class="navbar navbar-heading">
    <div class="navbar-inner">
      {% block sidebar_menu_title %}
      {% endblock %}
    </div>
  </div>
  <ul class="nav nav-tabs nav-stacked">
    {% block sidebar_menu_items %}
    {% endblock %}
  <ul>
</div>
