<div id="messages"> 
</div>
<table class="table table-bordered table-striped">
   <thead>
      <tr>
         <th>Id</th>
         <th>Company</th>
         <th>Company Type</th>
         <th>Manager</th>
         <th>Registration #</th>
         <th>Status</th>
         <th/>
         <th/>
         <th/>
      </tr>
   </thead>
   <tbody>
      <tr ng-repeat="application in applications">
         <td>{{application.id}}</td>
         <td>{{application.company.name}}</td>
         <td>{{application.company.company_type}}</td>
         <td>
            {{application.manager.first_name}} {{application.manager.last_name}}
         </td>
         <td>{{application.company.registration_number}}</td>
         <td>{{application.status}}</td>
         <td>
            <a class="btn btn-success btn-small approve" 
               ng-click="approve_application(application)">
               <i class="icon-thumbs-up"></i>&nbsp;
               Approve
            </a>
         </td>
         <td>
            <a class="btn btn-danger btn-small deny" 
               href="#" ng-click="show_deny_form(application)">
               <i class="icon-thumbs-down"></i>&nbsp; Deny
            </a>
         </td>
         <td>
            <a href="show/{{application.id}}" rel="tooltip" title="View & Edit">
               <i class="icon-eye-open"></i>
            </a>
         </td>
      </tr>
   </tbody>
</table>


<!-- Modal !-->
<div class="modal" ng-show="show_deny_modal" 
   tabindex="-1" role="dialog" aria-hidden="true" aria-labelled-by="dialogLabel"> 
   <div class="modal-header">
      <h3 id="dialog-label">Deny application for {{application.company.name}}</h3>
   </div>
   <div class="modal-body">
      <form class="form-vertical">
         <div class="control-group">
               <label class="control-label">Reason for Denial</label>
               <div class="controls">
                  <textarea name="reason_for_denial" rows="9" 
                     ng-model="application.reason_for_denial" required/>
               </div>
         </div>
      </form>
   </div>
   <div class="modal-footer">
      <button class="btn" ng-click="close_deny_form()">
         Close
      </button>
      <button class="btn btn-danger" ng-click="deny_application(application)">
         Yes
      </button>
   </div>
</div>
